In [2]:
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]

In [4]:
apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [8]:
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]

In [9]:
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [10]:
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] }

In [12]:
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [13]:
stock = {"10/10": [80, 110, 70, 90], '10/11': [ 210, 230, 190, 200]}

In [14]:
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [15]:
for row in apart:
    for col in row:
        print(col, "호")

101호 호
102호 호
201호 호
202호 호
301호 호
302호 호

In [16]:
for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302호 호
301호 호
202호 호
201호 호
102호 호
101호 호

In [17]:
for row in apart:
    for col in row:
        print(col, "호")
        print('------')

101호 호
------
102호 호
------
201호 호
------
202호 호
------
301호 호
------
302호 호
------

In [18]:
for row in apart:
    for col in row:
        print(col, "호")
    print('------')

101호 호
102호 호
------
201호 호
202호 호
------
301호 호
302호 호
------

In [19]:
for row in apart:
    for col in row:
        print(col, "호")
print('------')

101호 호
102호 호
201호 호
202호 호
301호 호
302호 호
------

In [20]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for line in data:
    for column in line:
        print(column * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [22]:
for line in data:
    for column in line:
        print(column * 1.00014)
    print('----')

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [23]:
result = []
for line in data:
    for column in line:
        result.append(column * 1.00014)

In [24]:
for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
    result.append(sub)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001, [2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [27]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    print(row[3])

100
190
310

In [31]:
for row in ohlc[1:]:
    if (row[3] > 150):
        print(row[3])

190
310

In [32]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for i in range(1, len(ohlc)):
    volatility.append(ohlc[i][1]-ohlc[i][2])
print(volatility)

[40, 30, 10]

In [33]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for i in range(1, len(ohlc)):
    if ohlc[i][0] <  ohlc[i][3]:
        volatility.append(ohlc[i][3]-ohlc[i][0])
print(volatility)

[10]

In [36]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
profit = 0
for row in ohlc[1:]:
    profit += (row[3] - row[0])
print(profit)

0

In [40]:
def print_coin():
    print("비트코인")
print_coin()

비트코인

In [41]:
hello()
def hello():
    print("Hi")

NameError: name 'hello' is not defined

In [42]:
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [43]:
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [44]:
def print_with_smile (string) :
    print (string + ":D")

In [45]:
print_with_smile("안녕하세요")

안녕하세요:D

In [46]:
def print_upper_price(price) :
    print(price * 1.3)

In [47]:
def print_sum (a, b) :
    print (a + b)

In [49]:

def print_arithmetic_operation(a, b):
    print(a, "+", b, "=", a + b)
    print(a, "-", b, "=", a - b)
    print(a, "*", b, "=", a * b)
    print(a, "/", b, "=", a / b)

print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [50]:
def print_max(a, b, c) :
    max_val = 0
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)

In [52]:
def print_reverse(string):
    print(string[::-1])
print_reverse("python")

nohtyp

In [57]:
def print_score (score_list):
    print(sum(score_list) / len(score_list))
print_score([1, 2, 3])

2.0

In [62]:
def print_even(abc):
    for v in abc:
        if v % 2 == 0:
            print(v)
        
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [64]:
def print_keys (dic):
    for keys in dic.keys():
        print(keys)
        
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [65]:
def print_value_by_key (my_dict, key) :
    print(my_dict[key])

In [66]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

In [79]:
def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])
        
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [80]:
def calc_monthly_salary(annual_salary):
    annual_salary = int(annual_salary / 12)
    return annual_salary

calc_monthly_salary(12000000)

1000000

In [83]:
def make_url(string):
    url = "www." + string + ".com"
    return url

make_url("naver")

'www.naver.com'

In [87]:
#234
def make_list(string):
    return list(string)
make_list("abcd")

['a', 'b', 'c', 'd']

In [2]:
def convert_int (string) :
    return int(string.replace(',', ''))

convert_int("1,234,567")

1234567

In [4]:
import os
ret = os.getcwd()
print(ret, type(ret))

C:\Users\Admin <class 'str'>

In [5]:
import numpy
for i in numpy.arange(0, 5, 0.1):
    print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9

In [6]:
class Human:
    pass

areum = Human()

In [7]:
class Human:
    def __init__(self):
        print("응애응애")
        
areum = Human()

응애응애

In [9]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("아름", 25, "여자")
print(areum.name)

아름

In [10]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("아름", 25, "여자")
print(areum.age)

25

In [11]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

areum = Human("아름", 25, "여자")
areum.who()      # Human.who(areum)

이름: 아름 나이: 25 성별: 여자

In [12]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

    def setinfo(self):
        self.name = name
        self.age = age
        self.sex = sex
        
areum = Human("불명", "미상", "모름")
areum.who()      # Human.who(areum)

areum = Human("아름", 25, "여자")
areum.who()      # Human.who(areum)

이름: 불명 나이: 미상 성별: 모름
이름: 아름 나이: 25 성별: 여자

In [13]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

    def setinfo(self):
        self.name = name
        self.age = age
        self.sex = sex
        
    def __del__(self):
        print("나의 죽음을 알리지마라")
        
areum = Human("불명", "미상", "모름")
areum.who()      # Human.who(areum)

areum = Human("아름", 25, "여자")
areum.who()      # Human.who(areum)

이름: 불명 나이: 미상 성별: 모름
나의 죽음을 알리지마라
이름: 아름 나이: 25 성별: 여자

In [15]:
class stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
        
삼성 = stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)

삼성전자
005930

In [33]:
#265
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code
        
    def get_name(self):
        return self.name
    
    def get_code(self):
        return self.code
    
삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930
삼성전자
005930